* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    bottom: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'guerrillanormal';
}

:root {
    --text-color: #fff;
    --bg-color: #000;
    --main-color: #ffa343;

    --h1-font: 4.5rem;
    --h2-font: 3rem;
    --p-font: 1rem;
    --big-font: calc(28px + (16 + 16 * 0.7) * ((100vw - 320px) / 1280));
    --small-font: calc(16px + (8 + 8 * 0.7) * ((100vw - 320px) / 1280));
}

body {
    color: var(--text-color);
    background: var(--bg-color);
}

section {
    padding: 27px 10% 60px;
}

footer {
    padding: 27px 10% 60px;
}

.btn {
    display: inline-block;
    padding: 13px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 15px;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all .50s ease;
    cursor: pointer;

    &:hover {
        transform: translateX(10px);
        border: 2px solid var(--text-color);
        background: transparent;
        color: var(--text-color);

    }
}

// ------- little-card -------

.little-card {
    &__link {
        color: white
    }

    &__info {
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
        border-radius: 50%;
        cursor: pointer;
    }

    &__img {
        width: 100%;
        display: block;
        transition: transform 0.7s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__name {
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        transition: all .50s ease;

        &:hover {
            color: var(--main-color);
        }
    }

}

// ------- big-card -------
.big-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;

    &__img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }


    &__subtitle {
        font-size: 22px;
        font-weight: 600;
        color: var(--main-color);
        text-transform: uppercase;
        letter-spacing: 6px;
        margin-bottom: 20px;
    }

    &__title {
        font-size: var(--h2-font);
        font-weight: 800;
        line-height: 1.2;
        margin-bottom: 25px;
    }

    &__subtext {
        font-size: var(--p-font);
        font-weight: 500;
        line-height: 30px;
        color: #ffffffab;
        margin-bottom: 35px;
    }
}

@media (max-width:1050px) {
    .big-card {
        gap: 3rem;
        text-align: center;
    }

    .big-card_left {
        gap: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
}

@media (max-width:800px) {
    .big-card {
        grid-template-columns: 1fr;
    }

    .big-card_left {
        gap: 3rem;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }
}



#myCarousel {
    margin: 0 auto;
    --f-carousel-slide-height: 100%;
    --f-carousel-spacing: 10px;

    width: 400px;
    height: 700px;
}

.slide-box__img {
    height: 100%;
    width: 100%;
}




@import "./font.scss";
@import "./Header/header.scss";
@import "./Footer/footer.scss";
@import "./index.scss";
@import "./companies.scss";
@import "./shops.scss";
@import "./interestingPeople.scss";
@import "./books.scss";
@import "./guide.scss";